.err-wrap{
    background-color: rgb(25,25,50);
    margin: 1em;
    padding: 1em;
    color: white;
}
.ew-warning{
    display: inline-block;
    border: 1px solid Maroon;
    padding: 1em 2%;
    color: Brown;
    width: 96%;
}
span.ew-txt, span.ew-h{
    display: inline-block;
    width: 100%;
    font-size: 1.2em;
    font-weight: bold;
    margin: 1em 0;
    color: gray;
}
span.ew-code{
    display: inline-block;
    width: 100%;
    font-size: 3em;
    font-weight: bold;
    color: silver;
}
.ew-detail{
    display: inline-block;
    border: 1px solid darkgreen;
    color: green;
    padding: 1em 2%;
    width: 96%;
}